.month {
    text-align: center;
    padding-bottom: 20px;
    span {
        margin-left: 15px;
        margin-right: 15px;
        top: -3px;
        position: relative;
    }
}
.pretty-days {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: center;
    
    div {
        width: 14%;
        border: 1px solid grey;
        padding:3px 0;
    }
}
.days-block {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    app-case-calendar {
        width: 14%;
        height: 90px;
        border: 1px solid grey;
        &.disabled {
            background: #eee;
        }
        &.today {
            background: bisque;
            border: 1px solid greenyellow;
        }
    }
}